body {
    background-color: 0xd3caca;
}


#center, #title, #img-caption, #footer {
    text-align: center;
}

#footer {
    font-size: 20px;
}

#img-caption {
    padding-top: 20px;
    margin: 20px;
}

h2 {
    text-align: center;
}

li {
    margin: 20px 0px;
}

#quote {
    padding-top: 40px;
    margin: 20px;
    font-style: italic;
}



img {
    max-width: 100%;
    height: auto;
    width: 80%;
    display:block;
    margin:auto;
}